<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SingUp</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/grumblr/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/grumblr/css/style.css" rel="stylesheet">
    <link href="/static/grumblr/css/signin.css" rel="stylesheet">

</head>
<body>
    <div class="container">
      <form method="post" action="{{action}}" class="form-signin">
          <h2 class="form-signin-heading">Change Password</h2>

          <br>

          {% for field in form %}
          <td>{{ field }}</td>
          {% endfor %}

          <br>

          <input class="btn btn-primary Button" type="submit" value="Change">

          <br>
          <br>

          {% for error in form.username.errors %}
          <p style="color: red">
          {{error}}
          </p>
          {% endfor %}

          {% for error in form.non_field_errors %}
          <p style="color: red">
          {{ error }}
          </p>
          {% endfor %}

          {% csrf_token %}
            <!-- <a href="/LogIn" class="btn btn-primary Button" type="submit">Cancel</a> -->
      </form>
    </div> <!-- /container -->
</body>
</html>
