<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SingUp</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/grumblr/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/grumblr/css/style.css" rel="stylesheet">
    <link href="/static/grumblr/css/signin.css" rel="stylesheet">

</head>
<body>

    <div class="container">

      <form method="post" action="/ForgetPassword/" class="form-signin">
          <h2 class="form-signin-heading">Forget password</h2>

          <br>

          <label class="sr-only">Users names</label>
          <input type="text" class="form-control" name="username" value="{{username}}" placeholder="User Name" autofocus>

          <br>

          <input class="btn btn-primary Button" type="submit" value="Send">
          <a class="btn btn-primary Button" href="/">Cancel</a>
          {% csrf_token %}

          <br>
          <br>

          {% for error in errors %}
          <p style="color: red">
          {{ error }}
          </p>
          {% endfor %}
            <!-- <a href="/LogIn" class="btn btn-primary Button" type="submit">Cancel</a> -->
      </form>

    </div> <!-- /container -->

</body>
</html>
